<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TYBCAApp2"
        tools:targetApi="31">

        <activity
            android:name=".Menu_Activity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Addition_Activity"/>
        <activity android:name=".Substraction_Activity"/>
        <activity android:name=".Info_Activity"></activity>
        <activity android:name=".Call_Activity"/>
        <activity android:name=".EMail_Activity"/>
        <activity android:name=".Item_Layout"/>
        <activity android:name=".Spinner_List_Activity"/>
        <activity android:name=".Date_Time_Picker_Activity"/>
        <activity android:name=".Login_Activity"/>
    </application>
</manifest>